In [2]:
def fun1(a,b,c):
    print(a,b,c)

def fun2(x,y):
    return x,y

fun1(12,20,30)
fun2(11,22)

12 20 30

(11, 22)

In [4]:
def calc(a,b):
    return a+b,a*b,a-b,a//b,a%b

res = calc(40,10)
print(res)

(50, 400, 30, 4, 0)

In [8]:
#Create a function with a default argument

def showEmployee(Name,salary):
    if salary <= 0:
        return Name, 9000
    else:
        return Name,salary

name = input("Enter name : ")
salary = int(input("Enter Value : "))
showEmployee(name,salary)

Enter name :  ben
Enter Value :  0

('ben', 9000)

In [13]:
#other Case

def showEmployee(Name,salary=9000):
    return Name,salary

name = input("Enter name : ")
salary = int(input("Enter Value : "))
showEmployee(name,salary)

Enter name :  ben
Enter Value :  12000

('ben', 12000)

In [25]:
def add(a,b):
    square = a**2
    def sum(a,b):
        return a+b
    add = sum(a,b)
    return add+5

add(5,10)

20

In [23]:
def sum(n):
    res = 0
    for i in range(1,n+1):
        res +=i
        #print(i)
    return res

print(sum(5))

#Recursive Function

def sum(n):
    if n:
        return n + sum(n-1)
    else:
        return 0

res = sum(10)
print(res)

15
55

In [25]:
print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [26]:
x = [4, 6, 8, 24, 12, 2]
print(max(x))

24